<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="test2()">motor control</button>

    <script>
        // function test(){
        //     window.location.href="http://192.168.123.4/test"
        // }
        // function test2(){
        //     for (var i=0;i<30;i++){
        //         window.setTimeout(test, 1000);
        //     }
        // }
    </script>
</body>
</html>